<div class="card">
  <div class="card-header">
    <% if photo.avatar_url %>
      <%= image_tag photo.avatar_url, class: "avatar" %>
    <% end %>
    <%= photo.username.capitalize %>
    <div class="display-time">
      <%= time_ago_in_words(photo.created_at) %> ago
      <%= button_to "Delete Photo", photo_path(photo), method: :delete, class: "btn btn-primary" %>
      <%= link_to "Edit Photo", edit_photo_path(photo), class: "btn btn-primary" %>
    </div>
  </div>
  <%= image_tag photo.url, class: "card-img-top", alt: "photo"%>
  <% if photo.caption.present? %>
  <div class="card-block">
      <p class="card-text"><%= photo.caption %></p>
    <% if photo.likes_count %>
      <%= pluralize(photo.likes_count, "likes") %>
    <% end %>
  </div>
  <% end %>

  <div class="card-footer">
  <%= form_for [photo, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.text_field :body, placeholder: "Add a comment", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Send", class: "btn btn-danger" %>
    </div>
  <% end %>
  <% if photo.comments.present? %>
    <% photo.comments.each do |comment| %>
      <%= render "comment", comment: comment %>
    <% end %>
  <% else %>
    No comment yet.
  <% end %>
  </div>
  
</div>