<h1>Timeline</h1>
<p>The New Instagram Experience</p>


<% @photos.each do |photo| %>
  <div class="card">
    <div class="card-header">
      <% if photo.avatar_url %>
        <%= image_tag photo.avatar_url, class: "avatar" %>
      <% end %>
      <%= photo.username.capitalize %>
      <div class="display-time">
        <%= time_ago_in_words(photo.created_at) %> ago
      </div>
    </div>
    <%= image_tag photo.url, class: "card-img-top", alt: "photo"%>
    <div class="card-block">
      <p class="card-text"><%= photo.caption %></p>
      <% if photo.likes_count %>
        <%= pluralize(photo.likes_count, "likes") %>
      <% end %>
    </div>
  </div>
<% end %>
